# Monogram2-week6-notebook1

# Logistic Regression with Python


## Import Libraries
Let's import some libraries to get started!

In [14]:
import pandas as pd

## The Data

In [15]:
df = pd.read_csv('preprocessed_dataset.csv')

In [16]:
df.head()

,Unnamed: 0,PayloadMass,Flights,GridFins,Reused,Legs,Block,ReusedCount,Class,Orbit_ES-L1,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,0,6104.959412,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,525.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,677.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,500.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,3170.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
def cost(a):
    if a>10000:
        return 1
    else:
        return 0

In [18]:
df['new']=df['PayloadMass'].apply(cost)

In [19]:
df['new']

0     0
1     0
2     0
3     0
4     0
     ..
85    1
86    1
87    1
88    1
89    0
Name: new, Length: 90, dtype: int64

# Exploratory Data Analysis

Let's begin some exploratory data analysis! We'll start by checking out missing data!

## Missing Data

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 90 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           90 non-null     int64
 1   PayloadMass                          90 non-null     float64
 2   Flights                              90 non-null     int64
 3   GridFins                             90 non-null     int64
 4   Reused                               90 non-null     int64
 5   Legs                                 90 non-null     int64
 6   Block                                90 non-null     float64
 7   ReusedCount                          90 non-null     int64
 8   Class                                90 non-null     int64
 9   Orbit_ES-L1                          90 non-null     int64
 10  Orbit_GEO                            90 non-null     int64
 11  Orbit_GTO                            90 non-null     int64
 12  Orbit_HEO                            90 non-null     int64
 13  Orbit_ISS                            90 non-null     int64
 14  Orbit_LEO                            90 non-null     int64
 15  Orbit_MEO                            90 non-null     int64
 16  Orbit_PO                             90 non-null     int64
 17  Orbit_SO                             90 non-null     int64
 18  Orbit_SSO                            90 non-null     int64
 19  Orbit_VLEO                           90 non-null     int64
 20  LaunchSite_CCAFS SLC 40              90 non-null     int64
 21  LaunchSite_KSC LC 39A                90 non-null     int64
 22  LaunchSite_VAFB SLC 4E               90 non-null     int64
 23  Outcome_False ASDS                   90 non-null     int64
 24  Outcome_False Ocean                  90 non-null     int64
 25  Outcome_False RTLS                   90 non-null     int64
 26  Outcome_None ASDS                    90 non-null     int64
 27  Outcome_None None                    90 non-null     int64
 28  Outcome_True ASDS                    90 non-null     int64
 29  Outcome_True Ocean                   90 non-null     int64
 30  Outcome_True RTLS                    90 non-null     int64
 31  LandingPad_5e9e3032383ecb267a34e7c7  90 non-null     int64
 32  LandingPad_5e9e3032383ecb554034e7c9  90 non-null     int64
 33  LandingPad_5e9e3032383ecb6bb234e7ca  90 non-null     int64
 34  LandingPad_5e9e3032383ecb761634e7cb  90 non-null     int64
 35  LandingPad_5e9e3033383ecbb9e534e7cc  90 non-null     int64
 36  Serial_B0003                         90 non-null     int64
 37  Serial_B0005                         90 non-null     int64
 38  Serial_B0007                         90 non-null     int64
 39  Serial_B1003                         90 non-null     int64
 40  Serial_B1004                         90 non-null     int64
 41  Serial_B1005                         90 non-null     int64
 42  Serial_B1006                         90 non-null     int64
 43  Serial_B1007                         90 non-null     int64
 44  Serial_B1008                         90 non-null     int64
 45  Serial_B1010                         90 non-null     int64
 46  Serial_B1011                         90 non-null     int64
 47  Serial_B1012                         90 non-null     int64
 48  Serial_B1013                         90 non-null     int64
 49  Serial_B1015                         90 non-null     int64
 50  Serial_B1016                         90 non-null     int64
 51  Serial_B1017                         90 non-null     int64
 52  Serial_B1018                         90 non-null     int64
 53  Serial_B1019                         90 non-null     int64
 54  Serial_B1020                         90 non-null     int64
 55  Serial_B1021                         90 non-null     int64
 56  Serial_B1022                         90 non-null     int64
 57  Serial_B1023                         90 non-null     int64
 58  Serial_B1025                         90 non-null     int64
 59  Serial_B1026                         90 non-null     int64
 60  Serial_B1028                         90 non-null     int64
 61  Serial_B1029                         90 non-null     int64
 62  Serial_B1030                         90 non-null     int64
 63  Serial_B1031                         90 non-null     int64
 64  Serial_B1032                         90 non-null     int64
 65  Serial_B1034                         90 non-null     int64
 66  Serial_B1035                         90 non-null     int64
 67  Serial_B1036                         90 non-null     int64
 68  Serial_B1037                         90 non-null     int64
 69  Serial_B1038                         90 non-null     int64
 70  Serial_B1039                         90 non-null     int64
 71  Serial_B1040                         90 non-null     int64
 72  Serial_B1041                         90 non-null     int64
 73  Serial_B1042                         90 non-null     int64
 74  Serial_B1043                         90 non-null     int64
 75  Serial_B1044                         90 non-null     int64
 76  Serial_B1045                         90 non-null     int64
 77  Serial_B1046                         90 non-null     int64
 78  Serial_B1047                         90 non-null     int64
 79  Serial_B1048                         90 non-null     int64
 80  Serial_B1049                         90 non-null     int64
 81  Serial_B1050                         90 non-null     int64
 82  Serial_B1051                         90 non-null     int64
 83  Serial_B1054                         90 non-null     int64
 84  Serial_B1056                         90 non-null     int64
 85  Serial_B1058                         90 non-null     int64
 86  Serial_B1059                         90 non-null     int64
 87  Serial_B1060                         90 non-null     int64
 88  Serial_B1062                         90 non-null     int64
 89  new                                  90 non-null     int64
dtypes: float64(2), int64(88)
memory usage: 63.4 KB

In [23]:
df.isnull()

,Unnamed: 0,PayloadMass,Flights,GridFins,Reused,Legs,Block,ReusedCount,Class,Orbit_ES-L1,...,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062,new
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
86,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
87,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
88,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
89,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
df.isnull().sum()

Unnamed: 0      0
PayloadMass     0
Flights         0
GridFins        0
Reused          0
               ..
Serial_B1058    0
Serial_B1059    0
Serial_B1060    0
Serial_B1062    0
new             0
Length: 90, dtype: int64

# Define X , y

In [26]:
X=df.drop('Class',axis=1)
y=df['Class']

Great! Our data is ready for our model!

# Building a Logistic Regression model

Let's start by splitting our data into a training set and test set.
## Train Test Split

In [27]:
! pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sklearn in c:\users\monah\appdata\roaming\python\python38\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\monah\appdata\roaming\python\python38\site-packages (from sklearn) (1.0.1)
Requirement already satisfied: joblib>=0.11 in c:\users\monah\appdata\roaming\python\python38\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\program files\python38\lib\site-packages (from scikit-learn->sklearn) (1.20.0)
Requirement already satisfied: scipy>=1.1.0 in c:\program files\python38\lib\site-packages (from scikit-learn->sklearn) (1.6.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\monah\appdata\roaming\python\python38\site-packages (from scikit-learn->sklearn) (3.0.0)

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\program files\python38\python.exe -m pip install --upgrade pip' command.

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, test_size=0.20, 
                                                    random_state=101)

## Training and Predicting

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\monah\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [32]:
predictions = logmodel.predict(X_test)

In [33]:
predictions

array([0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1], dtype=int64)

In [34]:
y_test

50    0
6     1
51    0
54    1
53    1
69    1
32    1
31    1
21    1
88    1
43    1
47    0
3     0
1     0
74    0
16    1
45    0
25    1
Name: Class, dtype: int64

Let's move on to evaluate our model!

## Evaluation

Let's bring Confusion Matrix!

In [35]:
from sklearn.metrics import confusion_matrix

In [36]:
confusion_matrix(y_test,predictions)

array([[ 7,  0],
       [ 1, 10]], dtype=int64)

We can check precision,recall,f1-score using classification report!

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
accuracy_score(y_test,predictions, normalize=False)

17

In [39]:
accuracy_score(y_test,predictions, normalize=True)

0.9444444444444444

In [40]:
from sklearn.metrics import classification_report

In [41]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.88      1.00      0.93         7
           1       1.00      0.91      0.95        11

    accuracy                           0.94        18
   macro avg       0.94      0.95      0.94        18
weighted avg       0.95      0.94      0.94        18


## Great Job!